@ximport "http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css";
@import "../components/bootstrap/css/bootstrap.css";

header {
    background-color: black;
}

table td {
    text-align: right;
}

table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4),
table td:nth-child(5)
{
    text-align: right;
}

table td:nth-child(1) {
    width: 70%;
    text-align: left;
}

*[type="float"] {
    width: auto;
    text-align: right;
}

*[type="int"] {
    width: auto;
    text-align: right;
}

*[type="percent"] {
    width: auto;
    text-align: right;
}

#content {
    width: 70%;
}

.table {
    width: 100%;
}

#structure td:hover:before {
    content: attr(id)  ': '  attr(result);
    outline: 1px solid black;
    -moz-outline: 1px solid black;
    background: blue;
    color: white;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    font-family: sans-serif;
    font-size: small;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#structure td[celltype='CELL_TYPE_FORMULA'] {
    -background-color: red;
}

#structure td[celltype='CELL_TYPE_STRING'], td[celltype='CELL_TYPE_NUMERIC'] {
    background-color: greenyellow;
}

#structure td.done {
    background-color: grey;
}

