<table class="table">
    <tr>
        <th>Finanzkennzahlen (gemäß Erwartungswerte)</th>
        <th></th>
    </tr>
    <tr>
        <td>EKQ</td>
        <td type="percent" ng-bind="engine.F26()"></td>
    </tr>
    <tr>
        <td>ROCE</td>
        <td type="percent" ng-bind="engine.F27()"></td>
    </tr>
    <tr>
        <td>EBIT-Marge</td>
        <td type="percent" ng-bind="engine.F28()"></td>
    </tr>
    <tr>
        <td>ZDQ</td>
        <td type="float" ng-bind="engine.F29()"></td>
    </tr>
    <tr>
        <td>impl. FKZins</td>
        <td type="percent" ng-bind="engine.F32()"></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Rating</th>
        <th></th>
    </tr>
    <tr>
        <td>Vorhandenes Rating</td>
        <td ng-bind="data.B13"></td>
    </tr>
    <tr>
        <td>PD aus Rating</td>
        <td type="float" ng-bind="engine.F43()"></td>
    </tr>
    <tr>
        <td>RatingNote FutureValue Group</td>
        <td ng-bind="engine.F50()"></td>
    </tr>
    <tr>
        <td>Geschätztes PD FutureValue Group</td>
        <td type="percent" ng-bind="engine.F44()"></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Risikokennzahlen</th>
        <th></th>
    </tr>
    <tr>
        <td>Standardabweichung FCF</td>
        <td type="float" ng-bind="engine.F35()"></td>
    </tr>
    <tr>
        <td>Ertragsrisiko (V fcf)</td>
        <td type="float" ng-bind="engine.F36()"></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Bewertung</th>
        <th></th>
    </tr>
    <tr>
        <td>Marktpreis Risiko (Lambda)</td>
        <td type="percent" ng-bind="engine.F53()"></td>
    </tr>
    <tr>
        <td>k</td>
        <td type="percent" ng-bind="engine.F54()"></td>
    </tr>
    <tr>
        <td>Wert (W)</td>
        <td type="float" ng-bind="engine.F61()"></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Angemessene Multiples</th>
        <th></th>
    </tr>
    <tr>
        <td>KBV</td>
        <td type="float" ng-bind="engine.F65()"><</td>
    </tr>
    <tr>
        <td>KGV</td>
        <td type="float" ng-bind="engine.F66()"><</td>
    </tr>
    <tr>
        <td>KUV</td>
        <td type="float" ng-bind="engine.F67()"><</td>
    </tr>
    <tr>
        <td>EV/EBIT</td>
        <td type="float" ng-bind="engine.F68()"><</td>
    </tr>
</table>