<table class="table">
    <tr>
        <th>Finanzkennzahlen (gemäß Erwartungswerte)</th>
        <th></th>
    </tr>
    <tr>
        <td>EKQ</td>
        <td>30,0%</td>
    </tr>
    <tr>
        <td>ROCE</td>
        <td>20,0%</td>
    </tr>
    <tr>
        <td>EBIT-Marge</td>
        <td>10,0%</td>
    </tr>
    <tr>
        <td>ZDQ</td>
        <td>6,42</td>
    </tr>
    <tr>
        <td>impl. FKZins</td>
        <td>5,3%</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Rating</th>
        <th></th>
    </tr>
    <tr>
        <td>Vorhandenes Rating</td>
        <td>BB</td>
    </tr>
    <tr>
        <td>PD aus Rating</td>
        <td>0,0117</td>
    </tr>
    <tr>
        <td>RatingNote FutureValue Group</td>
        <td>BB</td>
    </tr>
    <tr>
        <td>Geschätztes PD FutureValue Group</td>
        <td>0,5%</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Risikokennzahlen</th>
        <th></th>
    </tr>
    <tr>
        <td>Standardabweichung FCF</td>
        <td>14,3</td>
    </tr>
    <tr>
        <td>Ertragsrisiko (V fcf)</td>
        <td>0,2</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Bewertung</th>
        <th></th>
    </tr>
    <tr>
        <td>Marktpreis Risiko (Lambda)</td>
        <td>25,0%</td>
    </tr>
    <tr>
        <td>k</td>
        <td>8,1%</td>
    </tr>
    <tr>
        <td>Wert (W)</td>
        <td>368,20</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Angemessene Multiples</th>
        <th></th>
    </tr>
    <tr>
        <td>KBV</td>
        <td>2,45</td>
    </tr>
    <tr>
        <td>KGV</td>
        <td>6,43</td>
    </tr>
    <tr>
        <td>KUV</td>
        <td>0,37</td>
    </tr>
    <tr>
        <td>EV/EBIT</td>
        <td>7,18</td>
    </tr>
</table>