<table class="table" id="settings">
    <tr>
        <th>allgemeine Parameter</th>
        <th></th>
    </tr>
    <tr>
        <td>Steuersatz s</td>
        <td><input type="number" format="percent" size="6" ng-model="data.B16"></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Parameter alternativanlage</th>
        <th></th>
    </tr>
    <tr>
        <td>Zins rf (ggf. nachhaltig)</td>
        <td><input type="number" format="percent" size="6" ng-model="data.B19"></td>
    </tr>
    <tr>
        <td>Standardabweichung Markt</td>
        <td><input type="number" format="percent" size="6" ng-model="data.B20"></td>
    </tr>
    <tr>
        <td>Erwartungswert Markt</td>
        <td><input type="number" format="percent" size="6" ng-model="data.B21"></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Parameter EXPERT</th>
        <th></th>
    </tr>
    <tr>
        <td>Verwaltungsaufschalg</td>
        <td><input type="number" format="percent" size="6" ng-model="data.B24"></td>
    </tr>
    <tr>
        <td>Risikodiversifikationsfaktor d</td>
        <td><input type="number" format="int" size="6" ng-model="data.B25"></td>
    </tr>
    <tr>
        <td>Investitionsdauer</td>
        <td><input type="number" format="int" size="6" ng-model="data.B26"></td>
    </tr>
    <tr>
        <td>Vorhandenes Rating verwenden</td>
        <td><input type="number" format="float" size="6" ng-model="data.B27"></td>
    </tr>
    <tr>
        <td>Werthaltigkeit Eigenkapital</td>
        <td><input type="number" format="float" size="6" ng-model="data.B29"></td>
    </tr>
    <tr>
        <td>FutureValue Group-PD-Schätzung</td>
        <td><input type="number" format="float" size="6" ng-model="data.XX" value="0"></td>
    </tr>
</table>
