<table class="table">
    <tr>
        <th>allgemeine Parameter</th>
        <th></th>
    </tr>
    <tr>
        <td>Steuersatz s</td>
        <td>30,0%</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Parameter alternativanlage</th>
        <th></th>
    </tr>
    <tr>
        <td>Zins rf (ggf. nachhaltig)</td>
        <td>3,0%</td>
    </tr>
    <tr>
        <td>Standardabweichung Markt</td>
        <td>20%</td>
    </tr>
    <tr>
        <td>Erwartungswert Markt</td>
        <td>8%</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Parameter EXPERT</th>
        <th></th>
    </tr>
    <tr>
        <td>Verwaltungsaufschalg</td>
        <td>1%</td>
    </tr>
    <tr>
        <td>Risikodiversifikationsfaktor d</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Investitionsdauer</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Vorhandenes Rating verwenden</td>
        <td>0,00</td>
    </tr>
    <tr>
        <td>Werthaltigkeit Eigenkapital</td>
        <td>1,00</td>
    </tr>
    <tr>
        <td>FutureValue Group-PD-Schätzung</td>
        <td>0,00</td>
    </tr>
</table>
