<table class="table">
    <tr>
        <th>Jahresabschluss</th>
        <th>min</th>
        <th>EW</th>
        <th>Max</th>
        <th>EW</th>
    </tr>
    <tr>
        <td>Umsatz</td>
        <td></td>
        <td><input type="float" size="6" value="1000,0"></td>
        <td></td>
        <td type="float">1000,0</td>
    </tr>
    <tr>
        <td>EBIT (erwartet, nachhaltig)</td>
        <td><input type="float" size="5" value="50,0"></td>
        <td><input type="float" size="5" value="100,0"></td>
        <td><input type="float" size="5" value="150,0"></td>
        <td type="float">100,0</td>
    </tr>
    <tr>
        <td>Wachstum w (langfristig)</td>
        <td></td>
        <td><input type="percent" size="5" value="0,0"></td>
        <td></td>
        <td type="float">0,0</td>
    </tr>
    <tr>
        <td>Gewinn (erwartet, nachhaltig, nSt.)</td>
        <td type="float">22,24</td>
        <td type="float">57,24</td>
        <td type="float">92,24</td>
        <td type="float">57,20</td>
    </tr>
    <tr>
        <td>fcF (erwartet, nachhaltig)</td>
        <td type="float">40,47</td>
        <td type="float">75,47</td>
        <td type="float">110,47</td>
        <td type="float">75,5</td>
    </tr>
    <tr>
        <td>Bilanzsumme (, betriebsnot. CE)</td>
        <td></td>
        <td><input type="int" size="3" value="500"></td>
        <td></td>
        <td type="float">500,0</td>
    </tr>
    <tr>
        <td>EK</td>
        <td></td>
        <td><input type="int" size="3" value="150"></td>
        <td></td>
        <td type="float">150,0</td>
    </tr>
    <tr>
        <td>verz. Netto-FK (inkl. Pensionsrückst.)</td>
        <td></td>
        <td><input type="int" size="3" value="350"></td>
        <td></td>
        <td type="float">350,0</td>
    </tr>
</table>